.mat-column-vote {
  @apply w-32 text-center text-lg;
}

.mat-column-name {
  @apply min-w-[220px] max-w-[220px] text-center text-lg;

  p {
    margin-bottom: 0 !important;
  }
}

td.mat-column-name {
  overflow: visible;
}

.spot-1 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #66b2ff;
  height: 120vh;
  width: 100px;
}
.spot-2 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid rgb(224, 255, 102);
  height: 120vh;
  width: 100px;
}
.spot-3 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #d666ff;
  height: 120vh;
  width: 100px;
}
.spot-4 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #27c54e;
  height: 120vh;
  width: 100px;
}
.spot-5 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #fe4646;
  height: 120vh;
  width: 100px;
}
.spot-6 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #866eff;
  height: 120vh;
  width: 100px;
}
.spot-7 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid #66e3ff;
  height: 120vh;
  width: 100px;
}
.spot-8 {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 120vh solid rgb(40, 167, 14);
  height: 120vh;
  width: 100px;
}
