<div
  id="full-container"
  [ngClass]="{ 'pointer-events-none opacity-0': isWasteLand, chenille: roomState.roomEffect === ROOM_EFFECT.Chenille }"
  class="flex h-full w-full flex-col items-center transition-[opacity] duration-1000">
  <div class="mt-4 flex flex-col items-center justify-between sm:w-[650px]">
    <div class="flex items-start">
      <mat-form-field class="w-40">
        <mat-label>Pseudonyme</mat-label>
        <input matInput [formControl]="nameControl" />
      </mat-form-field>
      <nuclear-activator [disabled]="!ignitionButtonActivated || isIgnitionReloading" class="ml-3 mt-1"></nuclear-activator>
      <chenille-activator [disabled]="!chenilleButtonActivated || isChenilleIgnitionReloading" class="ml-3 mt-1"></chenille-activator>
    </div>
    <div class="hidden w-full items-center justify-between sm:flex">
      <button
        *ngFor="let effect of EFFECTS"
        [disabled]="isUserEffectPlaying"
        (click)="sendUserEffect(effect.name)"
        class="mb-6 text-lg"
        mat-raised-button
        color="warn">
        {{ effect.message }}
      </button>
    </div>
    <div class="sm:hidden">
      <mat-form-field>
        <mat-label>J'ai envie de dire...</mat-label>
        <mat-select [formControl]="userEffectControl">
          <mat-option *ngFor="let effect of EFFECTS" [value]="effect.name">
            {{ effect.message }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="flex flex-wrap justify-center sm:my-4">
    <button (click)="sendVote(card.value)" class="mx-2 my-2 text-xl" *ngFor="let card of VOTE_CARDS" mat-raised-button color="primary">
      {{ card.value }}
    </button>
  </div>
  <div class="mt-5">
    <table #dataTable mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Pseudonyme</th>
        <td
          mat-cell
          *matCellDef="let user"
          [ngClass]="{
            'font-bold text-red-600': user.action === USER_ACTION.NuclearIgnition
          }"
          class="relative">
          <p class="mb-0 overflow-hidden overflow-ellipsis whitespace-nowrap">
            <span *ngIf="user.action === USER_ACTION.ChenilleIgnition"> 🎉</span>
            {{ user.name }}
            <span *ngIf="user.action === USER_ACTION.ChenilleIgnition"> 🎉</span>
          </p>
          <speech-bubble *ngIf="user.effect" [effect]="user.effect" class="absolute -top-[90px] left-[50%] h-[100px] w-[100px]"></speech-bubble>
        </td>
      </ng-container>
      <ng-container matColumnDef="vote">
        <th mat-header-cell *matHeaderCellDef>Vote</th>
        <td mat-cell *matCellDef="let user">
          {{ user.vote ? (roomState.isHidden ? '??' : user.vote.value) : '' }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="mt-10 flex w-56 justify-between sm:w-60">
    <button (click)="toggleHide()" class="my-2 text-lg" mat-raised-button color="accent">
      {{ roomState.isHidden ? 'Afficher' : 'Masquer' }}
    </button>
    <button (click)="resetVotes()" class="my-2 text-lg" mat-raised-button color="accent">Reset</button>
  </div>
  <div class="h-9 sm:hidden">
    <button (click)="joinRoom()" class="mt-6 text-lg" mat-raised-button color="accent">Rejoindre une room</button>
  </div>
</div>
<canvas id="myCanvas" class="pointer-events-none fixed left-0 top-0 z-10 h-full w-full"></canvas>
<audio *ngIf="roomState.roomEffect === ROOM_EFFECT.Fanfare" class="hidden" volume="0.3" autoplay src="../../../assets/sounds/fanfare.mp3"></audio>
<audio *ngIf="roomState.roomEffect === ROOM_EFFECT.Ignition" class="hidden" volume="1" autoplay src="../../../assets/sounds/alarm.mp3"></audio>
<audio *ngIf="roomState.roomEffect === ROOM_EFFECT.Chenille" class="hidden" volume="1" autoplay src="../../../assets/sounds/chenille.mp3"></audio>
<nuclear-explosion *ngIf="roomState.roomEffect === ROOM_EFFECT.Explosion"></nuclear-explosion>
<countdown *ngIf="roomState.roomEffect === ROOM_EFFECT.Ignition" [launchAuthorized]="isLaunchAuthorized"></countdown>
<div #spot class="spot-1 pointer-events-none fixed -top-10 left-[10%] hidden -rotate-[15deg] opacity-50"></div>
<div #spot class="spot-2 pointer-events-none fixed -top-10 left-[20%] hidden rotate-[15deg] opacity-50"></div>
<div #spot class="spot-3 pointer-events-none fixed -top-10 left-[30%] hidden -rotate-[8deg] opacity-50"></div>
<div #spot class="spot-4 pointer-events-none fixed -top-10 left-[40%] hidden rotate-[20deg] opacity-50"></div>
<div #spot class="spot-5 pointer-events-none fixed -top-10 left-[50%] hidden -rotate-[15deg] opacity-50"></div>
<div #spot class="spot-6 pointer-events-none fixed -top-10 left-[60%] hidden rotate-[15deg] opacity-50"></div>
<div #spot class="spot-7 pointer-events-none fixed -top-10 left-[70%] hidden -rotate-[15deg] opacity-50"></div>
<div #spot class="spot-8 pointer-events-none fixed -top-10 left-[80%] hidden rotate-[15deg] opacity-50"></div>
