.mat-column-vote {
  @apply w-32 text-center text-lg;
}

.mat-column-name {
  @apply min-w-[220px] max-w-[220px] text-center text-lg;

  p {
    margin-bottom: 0 !important;
  }
}

td.mat-column-name {
  overflow: visible;
}

$spot-width: 90px;
$spot-height: 120vh;
$spot-top-width: 200px;

.spot-1 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #66b2ff;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-2 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid rgb(224, 255, 102);
  height: $spot-height;
  width: $spot-top-width;
}
.spot-3 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #d666ff;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-4 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #27c54e;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-5 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #fe4646;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-6 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #866eff;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-7 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid #66e3ff;
  height: $spot-height;
  width: $spot-top-width;
}
.spot-8 {
  border-left: $spot-width solid transparent;
  border-right: $spot-width solid transparent;
  border-bottom: $spot-height solid rgb(40, 167, 14);
  height: $spot-height;
  width: $spot-top-width;
}

@keyframes chenille {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(25px, 25px);
  }

  50% {
    transform: translate(50px, 0px);
  }

  75% {
    transform: translate(25px, 25px);
  }

  100% {
    transform: translate(0, 0);
  }
}

#full-container.chenille {
  div {
    animation: 1s infinite alternate chenille;
  }
}
